<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>FreeList 이메일 인증 링크</title>
    </head>
    <body style="margin: 0;">
      <div id="container" style="background-color: white; padding: 3vh 5vw;">
        <div class="header" style="display: flex; flex-direction: column;">
          <hr style="color: #979797; width: 100%;">
        </div>
        <div class="content" style="padding: 0 16px; color: #474747;">
          <h1>
            FreeList
          </h1>
          <br>
          <h2>
            이메일 인증 링크가 발급되었습니다.
          </h2>
          <p style="margin: 0;">
            안녕하세요, FreeList 입니다!<br>
            회원님께 이메일 인증링크를 보내드립니다.<br>
            아래 버튼을 클릭하면 이메일 인증이 완료됩니다.<br>
          </p>
          <form action="http://localhost:8000/account/email/verify/" method="POST">
            <input type="hidden" name="token" value={{token}} />
            <input style="color: #fe8767;" type='submit' value='이메일 인증하기'>
          </form>
          </a>
          <p style="margin: 0;">
            <b>인증이 완료된 후에 </b>카테고리 만들기와 글쓰기가 가능하십니다.<br>
            감사합니다.
          </p>
          <br>
          <br>
        </div>
        <div class="header" style="display: flex; flex-direction: column;">
            <hr style="color: #979797; width: 100%;">
        </div>
    </body>
</html>