<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>FreeChart 비밀번호 재설정 링크</title>
    </head>
    <body style="margin: 0;">
      <div id="container" style="background-color: white; padding: 3vh 5vw;">
        <div class="header" style="display: flex; flex-direction: column;">
          <hr style="color: #979797; width: 100%;">
        </div>
        <div class="content" style="padding: 0 16px; color: #474747;">
          <h1>
            FreeChart
          </h1>
          <br>
          <h2>
            비밀번호 재설정 링크가 발급되었습니다.
          </h2>
          <p style="margin: 0;">
            안녕하세요, FreeChart 입니다!<br>
            회원님께 임시 비밀번호와 비밀번호 재설정 링크를 보내드립니다.<br>
            아래 버튼을 클릭하면 비밀번호가 재설정 완료됩니다.<br>
          </p>
          <form action="http://freechart/api/account/password/reset/" method="POST">
            <input type="hidden" name="email" value={{email}} />
            <input type="hidden" name="token" value={{token}} />
            <input style="color: #fe8767;" type='submit' value='비밀번호 재설정'>
          </form>
          <p>
            <br>버튼 클릭 후, 임시 비밀번호로 로그인 할 수 있습니다.<br>
          </p>
          <span class="title" style="margin: 20px;">임시 비밀번호</span>
          <span class="password" style="color: #b6312e;">{{ password }}</span>
          <p style="margin: 0;">
            <p style="margin: 0;">
              로그인 후 <b>메뉴 > 프로필 수정</b>으로 진입하시면 
              비밀번호를 변경하실 수 있습니다.<br>
            </p>
            감사합니다.
          </p>
          <br>
          <br>
        </div>
        <div class="header" style="display: flex; flex-direction: column;">
            <hr style="color: #979797; width: 100%;">
        </div>
    </body>
</html>